<div class="container mt-5">
    <div class="row row-cols-3 g-3">
        <div *ngFor="let item of products" class="col text-center">
            <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <img *ngIf="item.image == null" src="../../../assets/images/productDefault.png" style="width: 150px" alt="Imagen de productos">
                  <img *ngIf="item.image" src="{{uri+'getImageProduct/'+item.image}}" style="width: 150px" alt="Imagen de productos">
                  <h5 class="card-title mb-2">{{item.name}}</h5>
                  <h6 class="card-subtitle mb-2" style="font-size: 25px">Q{{item.price}}</h6>
                  <h6 class="card-subtitle mb-1" style="font-size: 20px">{{item.available}}</h6>
                  <h6 class="card-subtitle mb-1" style="font-size: 20px">Talla: {{item.size}}</h6>
                  <button type="button" class="btn btn-warning" *ngIf="user.role == 'admin'" data-bs-toggle="modal" data-bs-target="#editar" (click)="obtenerData(item)">Editar Producto</button>
                  <button type="button" class="btn btn-danger" *ngIf="user.role == 'admin'" (click)="obtenerData(item)" (click)="deleteProduct()">Eliminar Producto</button>
                </div>
              </div>            
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="editar" aria-labelledby="editarLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Editar producto</h2>
                </div>
                <div class="modal-body">
                    <label>Nombre</label>
                       <input [(ngModel)]="product.name" name="name" class="form-control" type="text" placeholder="Ingrese el nombre">
                    <label>Precio</label>
                       <input [(ngModel)]="product.price" name="price" class="form-control" type="number" placeholder="Ingrese el precio">
                    <label>Talla</label>
                       <input [(ngModel)] ="product.size" name="size" class="form-control" type="text" placeholder="Ingrese la talla.">
                    <label>Tipo</label>
                        <select [(ngModel)]="product.gender" name="gender" class="form-control">
                            <option *ngFor="let option of optionsGender" [value]="option">{{option}}</option>
                        </select>
                    <label>Disponibilidad</label>
                        <select [(ngModel)]="product.available" name="available" class="form-control">
                            <option *ngFor="let option of optionsAvailable" [value]="option">{{option}}</option>
                        </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary col-lg-3 mx-2" data-bs-dismiss="modal" (click)="borrarData()">Cancelar</button>
                    <button type="button" class="btn btn-primary col-lg-3 mx-2" data-bs-dismiss="modal" (click)="updateProduct()" >Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>

                    <!--<label>Foto Del Producto</label>
                       <input type="file" name="image" id="inputImage" (change)="fileChange($event)">-->