<form class="text-center" #register="ngForm" (ngSubmit)="onSubmit(register)">
    <span class="input-group">Nombre</span>
    <input [(ngModel)]="product.name" class="form-control" name="name" type="text" placeholder="Ingrese el nombre del producto">
    <span class="input-group">Precio</span>
    <input [(ngModel)]="product.price" class="form-control" min="0" name="price" type="number" step="0.1">
    <span class="input-group">Talla</span>
    <select [(ngModel)]="product.size" name="size">
        <option *ngFor="let option of optionsSize" [value]="option">{{option}}</option>
    </select>
    <span class="input-group">Tipo</span>
    <select [(ngModel)]="product.gender" name="gender">
        <option *ngFor="let option of optionsGender" [value]="option">{{option}}</option>
    </select>
    <br><br>
    <button type="submit" class="btn btn-primary">Agregar el Producto</button>
</form>